html, body, div, h1, h2, p {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
}
h1{
	font-weight: 300;
    font-family: 'Barrio', cursive;
    padding-left:10px;
}
input[type='button']{
    padding: 5px 10px;
    font-size: 20px;
    margin-top:15px;
    display:block;
}
.inline-info{
    font-size:12px;
    float:left;
    padding-top:75px;
    padding-left: 15px;
}
.logo{
    float:left}
.clear{
    clear:both;
}
#draw-letter-area {
    margin-bottom: 10px;
    float:left;
}
#user-rate-area{
    float:left;
}
#user-rate-area div {
    padding-left:10px;
}
#draw-letter-area svg {
    border:1px solid black;
    height: 250px;
    width:250px;
}

#dr-letter{
    font-weight: bold;
    }
.container {
    margin:0 auto;
    padding-left:10px;
}
.with-padding{
    padding: 30px 0;
}
.with-small-padding{
    padding: 15px 0;
}
.with-margin{
    margin-left:15px;
}
#canvas, #finalform,.ru_info, .fr_info, #thankyou{
    display:none
}
.error{
    color: red;
}
@media (max-width: 639px) {
.container {
    width: 97% !important;
}}
@media (min-width: 640px) {
.container {
    width: 640px;
}}

.fb{
    background-image: url('../images/fb.png')   ;
    height:32px;
    width:32px;
    display: inline-block;
    background-repeat: no-repeat;
}
#usercounter, #nextLevel{
    display:inline-block;
}
#userLevelImg{
    height:200px;
    width:300px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 15 0;  
}
.level_0{
    background-image: url('../images/level_0.png')   ;
}
.level_1{
    background-image: url('../images/level_1.png')   ;
    
}
.level_2{
    background-image: url('../images/level_2.png')   ;
}
.level_3{
    background-image: url('../images/level_3.png')   ;
    
}
.level_4{
    background-image: url('../images/level_4.png')   ;
}
.level_5{
    background-image: url('../images/level_5.png')   ;
    
}
.baloons{
    background-image: url('../images/baloons.png')   ;
    width:100%;
    background-repeat: x-repeat;
    height:223px;
    position:absolute;
    top:-223;
    left:0;
    
}
